<h1 class="display 5">Student Database...</h1>
<h2 class="display 2">View student available records</h2>
<a href="studentdb/records " class="btn btn-light">View records</a>
<a href="studentdb/add " class="btn btn-light">Add new records</a>


