<h1 class="display 5">Student Database App...</h1>
<h2 class="display 2">View student available records</h2>
<div class="jumbotron">
    <h1>Student Database</h1>
    <p>This is a simple student database web application to show the available records of students in the database.</p>
    <p><a class="btn btn-primary" href="studentdb/search" role="button">About app</a></p>
  </div>
  <center>
<a href="studentdb/records " class="btn btn-light">View records</a>
<a href="studentdb/add " class="btn btn-light">Add new records</a>
</center>

