<div class="jumbotron">
        <span class="label label-success">This web application was built by Olajide Olanrewaju Alex using node.js, sails.js framework and
        bootstrap.
        </span> 
</div>